@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #0a192f;
    display: grid;
    place-items: center;
    color : white
}

.card {
    background-color: #b6fff3;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

.me-2 {
    border-radius: 50px;
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: black;
    font-size: 12px
}

.fa {
    color: #a5a5b1
}

*:focus {
    outline: none
}
